{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 offest-sm-3">
            <h3 class="">Reset Password Completed !!</h3>
            <div>
                <iframe src="https://gifdb.com/gif/correct-verified-green-circle-check-mark-a8cbemi51csojpmt.html" frameborder="0"
                class="giphy-embed" allowfullscreen width="250px" height="250px"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock content %}